<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos veritatis itaque suscipit reprehenderit quae? Dignissimos, provident sunt. Nobis expedita cum ipsa sint, dolore aliquid non pariatur inventore laborum totam. Eveniet?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos veritatis itaque suscipit reprehenderit quae? Dignissimos, provident sunt. Nobis expedita cum ipsa sint, dolore aliquid non pariatur inventore laborum totam. Eveniet?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos veritatis itaque suscipit reprehenderit quae? Dignissimos, provident sunt. Nobis expedita cum ipsa sint, dolore aliquid non pariatur inventore laborum totam. Eveniet?</p>

    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>